.slider {
    position: relative;
    overflow: hidden;
    width: 100%; /* Adjust based on your requirement */
}

.slide-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* This ensures the slide track takes the full width of the container */
}

.slide {
    flex: 0 0 auto;
    width: 150px; /* Adjust the width of the slide */
    margin: 0 10px;
    text-align: center;
}

.slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.slide p {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}
